<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>All Persons</title> <!-- Add a title -->
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheet.css}" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src = "/template.js"> </script>
    </head>
    <body>
        <div class="header">
            <h1 class="table_title">All Persons</h1>
        </div>
        <div class="main">
            <form id="addPersonForm">
                <input type = "text" id="firstName" placeholder="First Name" required>
                <input type = "text" id="lastName" placeholder="Last Name" required>
                <input type = "number" id="weight"  placeholder="Weight" required step=0.01>
                <input type = "number" id="height" placeholder="Height" required step=0.01>
                <button type="submit">Add Person</button> 
            </form>
            <table class = "person_table">
                <tr th:each="person : ${personList}">
                    <td th:text="${person.id}">1</td>
                    <td th:text="${person.firstName}">First Name</td>
                    <td th:text="${person.lastName}">Last Name</td>
                    <td th:text="${person.weight}">Weight</td>
                    <td th:text="${person.height}">Height</td>
                </tr>
            </table>
        </div>
    </body>
</html>
